.status {
    background-color: #c4e8fe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .status .div {
    background-color: #c4e8fe;
    height: 988px;
    overflow: hidden;
    position: relative;
    width: 430px;
  }
  
  .status .overlap {
    background-color: #ffffff;
    border-radius: 33px;
    height: 930px;
    left: 0;
    position: absolute;
    top: 83px;
    width: 430px;
  }
  
  .status .text-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 72px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 286px;
  }
  
  .status .overlap-group {
    height: 324px;
    left: 20px;
    position: absolute;
    top: 64px;
    width: 390px;
  }
  
  .status .wait-time {
    height: 324px;
    left: 6px;
    position: absolute;
    top: 0;
    width: 384px;
  }
  
  .status .overlap-group-2 {
    height: 324px;
    position: relative;
  }
  
  .status .ellipse {
    background-color: #c7e9ff;
    border-radius: 150.5px;
    height: 301px;
    left: 38px;
    position: absolute;
    top: 16px;
    width: 301px;
  }
  
  .status .group {
    height: 271px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 186px;
  }
  
  .status .ellipse-2 {
    background-color: #ffffff;
    border-radius: 120.5px / 115.5px;
    height: 231px;
    left: 68px;
    position: absolute;
    top: 51px;
    width: 241px;
  }
  
  .status .rectangle {
    height: 118px;
    left: 0;
    position: absolute;
    top: 206px;
    width: 384px;
  }
  
  .status .text-wrapper-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 64px;
    font-weight: 600;
    left: 98px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 113px;
    white-space: nowrap;
    width: 194px;
  }
  
  .status .p {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 270px;
    width: 390px;
  }
  
  .status .overlap-2 {
    height: 169px;
    left: 20px;
    position: absolute;
    top: 405px;
    width: 191px;
  }
  
  .status .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 23px;
    font-weight: 600;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 142px;
  }
  
  .status .triage-level-block {
    height: 169px;
    left: 0;
    position: absolute;
    top: 0;
    width: 191px;
  }
  
  .status .overlap-3 {
    border: 4px solid;
    border-color: #89c5ea;
    border-radius: 28px;
    height: 169px;
    position: relative;
    width: 185px;
  }
  
  .status .overlap-group-3 {
    height: 103px;
    left: 22px;
    position: absolute;
    top: 16px;
    width: 142px;
  }
  
  .status .text-wrapper-4 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 23px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 142px;
  }
  
  .status .text-wrapper-5 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 57px;
    font-weight: 700;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 34px;
  }
  
  .status .text-wrapper-6 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 21px;
    font-weight: 500;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 121px;
    width: 142px;
  }
  
  .status .current-status-block {
    border: 4px solid;
    border-color: #89c5ea;
    border-radius: 28px;
    height: 169px;
    left: 225px;
    position: absolute;
    top: 405px;
    width: 185px;
  }
  
  .status .overlap-group-wrapper {
    height: 116px;
    left: -4px;
    position: relative;
    top: 12px;
    width: 189px;
  }
  
  .status .overlap-group-4 {
    height: 116px;
    position: relative;
    width: 185px;
  }
  
  .status .text-wrapper-7 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 23px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 185px;
  }
  
  .status .text-wrapper-8 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 38px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 57px;
    width: 185px;
  }
  
  .status .overlap-wrapper {
    height: 109px;
    left: 20px;
    position: absolute;
    top: 591px;
    width: 189px;
  }
  
  .status .overlap-4 {
    background-color: #cdecff;
    border: 4px solid;
    border-color: #89c5ea;
    border-radius: 28px;
    height: 109px;
    position: relative;
    width: 185px;
  }
  
  .status .text-wrapper-9 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 23px;
    font-weight: 600;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 142px;
  }
  
  .status .text-wrapper-10 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 45px;
    white-space: nowrap;
    width: 142px;
  }
  
  .status .div-wrapper {
    height: 109px;
    left: 225px;
    position: absolute;
    top: 591px;
    width: 189px;
  }
  
  .status .text-wrapper-11 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 23px;
    font-weight: 600;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 165px;
  }
  
  .status .text-wrapper-12 {
    color: #0e2b3c;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 716px;
    width: 384px;
  }
  
  .status .text-wrapper-13 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 28px;
    font-weight: 600;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    white-space: nowrap;
    width: 234px;
  }
  
  .status .text-wrapper-14 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 26px;
    left: 292px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 26px;
    width: 121px;
  }
  